<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
    <title>@ViewBag.Title</title>

    <script type="text/javascript" src="//use.typekit.net/peg4qff.js"></script>
    <script type="text/javascript">        try { Typekit.load(); } catch (e) { }</script>

    @HTML.CSS_snapshot_css("reset")
    @HTML.CSS_snapshot_css("960")
    @HTML.CSS_snapshot_css("style")
    @HTML.CSS_snapshot_css("text")
    @HTML.CSS_snapshot_css("shortcodes")
    <link rel="stylesheet" type="text/css" href="@Href("../../public/stylesheets/snapshot/styles/default.css")"/>
    <link rel='stylesheet'  type="text/css" href="@Href("../../public/stylesheets/snapshot/css/admin-bar.css?ver=3.4.1")" id='admin-bar-css' />
     
    <link rel="shortcut icon" href="/favicon.ico" />
    <!--[if lte IE 6]>
	<script defer type="text/javascript" src="public/stylesheets/snapshot/js/pngfix.js"></script>
    <![endif]-->

    @HTML.jQuery()
@HTML.Script("jquery.cycle.all.js")
<script type="text/javascript">
    $(function () {

        $(' #user_quotes').cycle(
            {
                fx: 'fade',
                pause: 1,
                speed: 900,
                timeout: 4000,
                pauseOnPagerHover: 0
            });


    });

</script>
</head>

<body class="home blog logged-in admin-bar chrome">

    <div id="wrap">

        <div id="header" class="fullspan">
            <div class="container_16">
                <div class="grid_6" id="logo">
                    <h1>
                        @HTML.Link("Learn MVC3", @URL.SiteRoot(), "Return to the the frontpage")
                    </h1>
                </div>

                <div id="tagline">
                    <p> ... @ViewBag.Title</p>
                </div>
            </div><!-- /container_16 -->   
        </div><!-- /header -->

        <div id="nav" class="fullspan">
            <div class="container_16">
                <div class="grid_12">
                    <ul>
                        <li class="current_page_item">
                            @HTML.Link("Link 1", "http://www.yahoo.com")
                        </li>

                        <li class="page_item page-item-2">
                            @HTML.Link("Link 2", "http://www.google.com")
                        </li>
                    </ul>
                </div>
                <div class="grid_4 rss">
                    <ul>
                        <li>
                            @HTML.Link("Subscribe to this site", "http://localhost:88/wordpress/?feed=rss2", "Subscribe to the RSS feed")
                        </li>
                    </ul>
                </div>
            </div><!-- /container_16 -->
        </div>

        <div id="content" class="fullspan">
            <div class="container_16 clearfix">
                <div id="leftcontent" class="grid_12">
                    @RenderSection("instructions");
                    @RenderBody()
                </div><!-- /leftcontent -->

                <div class="grid_4 omega">
                    <div id="sidebar">
                        <div id="largewidget" class="widgetlist alpha grid_4">
 
                            <div class="widget">
                                <h3 class="hl"> Group 1</h3>
                                <ul>
                                    <li>
                                        @HTML.Link("Subgroup 1!","http://localhost:88/wordpress/?p=1","Hello World 1!")
                                    </li>
                                </ul>
                            </div>

                            <div class="widget">
                                <h3 class="hl"> Group 2 </h3>
                                <ul>
                                    <li>
                                        @HTML.Link("Subgroup 2!","http://localhost:88/wordpress/?p=2","Hello World 2!")
                                    </li>
                                </ul>
                            </div>

                        </div> <!-- /largewidget -->
                    </div><!-- /sidebar -->
                </div> <!-- /grid_4 -->
            </div> <!-- /container_16 -->    
        </div> <!-- /content -->

        <div id="footer" class="fullspan">
            <div class="container_16">
                <div class="grid_2 powered">
                    <p>@Snippets.FooterText()</p>
                </div>

                <div class="grid_10">
                    <p>
                            <div id = "user_quotes" class="column span-24">
            @foreach (dynamic item in LearnMVC3.Model.Quotes.FromUsers())
            {
                @Quotes.User(item)
            }
        </div>
                    </p>
                </div>

                <div class="grid_3 omega credit">
                    <p>
                        <a href="http://www.woothemes.com">Theme</a> by <a href="http://www.woothemes.com"
                            title="WooThemes - Premium WordPress Themes">
                            <img src="@Href("../../public/stylesheets/snapshot/images/woothemes.png")" /></a></p>
                </div><!-- /grid_8 -->
            </div> <!-- /container_16 -->
        </div> <!-- /footer -->

    </div> <!-- /wrap -->

</body>
</html>

