@helper CSS_snapshot_css(string cssFile)
{
    var fileName = "../../public/stylesheets/snapshot/css/" + @cssFile + ".css";
    <link rel="stylesheet" type="text/css" href="@Href(fileName)"/>
}

@helper snapshot_images(string imageFile)
{
    
    var fileName = "../../public/stylesheets/snapshot/images/" + @imageFile;
    <img src="@Href(fileName)" alt=""/>
}

@helper Link(string text, string url, string title = "")
    {
    <a href="@url" title="@title">@text</a>    
}
@helper jQuery()
    {
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js'></script>    
}

@helper Script(string scriptFile)
    {
    
        var fileName = "../../public/javascripts/" + @scriptFile;
        <script type="text/javascript" src="@Href(fileName)"></script>

}

@helper Templates()
    {
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js" ></script>
    }
