@{ Layout = "~/Views/Shared/_Layout.cshtml";}

<h2>Edit</h2>

@Form.Scripts()

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
    <legend>CustomersV2</legend>


    Id: @Model.ID) <br />
    Updated At: @Model.UpdatedAt <br />
    Created At: @Model.CreatedAt <br />
    Current Token: @Model.Token <br />
    @Form.TextBoxRequired("Email", Model.Email)  <br />
    </fieldset>

    <p>
        <input type="submit" value="Save" />
    </p>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>