@using LearnMVC3.Infrastructure
@using LearnMVC3.Model
@{
    Page.TItle = "Default in Index Page";
    Layout = "~/Views/Home/_HomeLayout.cshtml";
}

<h2>@ViewBag.Message</h2>


<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
    
    

    


    <div style="border: solid 3px salmon;padding: 15px;5px">
        <b> DynamicRoute: How to reference your routes dinamically.Instead of referencing the route as @@Html.RouteLink("Home", "Root") you can do it as @@router.routeName_url or @@router.routeName_path.
            This is to prevent linking actions/controller names to your view pages (and in your controllers as you redirect).
            Using named routes helps with this.
            <p style="padding: 15px;5px">
                <i>
                    Source: http://wekeroad.com/2011/05/30/referencing-routes-in-aspnet-mvc-the-rails-way/
                </i>
            </p>
        </b>
        
        <ul>
            <li>
                This is calling the attribute_missing with path: @Routes.about_path
            </li>
            <li>
                This is calling the method_missing with path: @Routes.about_path() 
            </li>
            <li>
                This is calling the method_missing with path and parameter: @Routes.about_path(new { id = "juan" }) 
            </li>
            <li>
                This is calling the method_missing with url : @Routes.about_url(new { id = "steve" }) 
            </li>
        </ul>
            </div>    
</p>


