@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<table>
    <tr>
        <th>
            Id
        </th>
        <th>
            Production_Id
        </th>
        <th>
            Title
        </th>
                <th>
            Description
        </th>
 
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.ID
        </td>
        <td>
            @item.Production_ID
        </td>
        <td>
            @item.Title
        </td>
        <td>
            @item.Description
        </td>
    
        <td>
            @Html.ActionLink("Edit", "Edit", new { ID=@item.ID }) |
@*            @Html.ActionLink("Details", "Details", new { ID = @item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { ID = @item.ID })*@
        </td>
    </tr>
}

</table>
